.sebm-google-map-container {
  height: 400px;
}
.map-container {
  border: 1px solid #000;
}
ngui-map {
  height: 400px !important;
}

@media only screen and (max-width: 640px) {
  ngui-map {
    height: 300px !important;
  }
}
