.app-content {
  border: 1px solid #000;
  margin-left: 30px;
  padding: 10px;
  min-height: 600px;
  background-color: #e4e4e4;
  width: 100%;
  .section-title {
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .app-content .section-title {
    margin: 0;
  }
}
