<div class="page-title">

  <img class="logo" src="assets/images/logo.png">

  <a class="la-paz-bus-link" target="_blank" href="http://www.lapazbus.bo/">{{ title }}</a>

  <div class="login-ctn">
    <span *ngIf="isLoggedIn" class="username">{{ username }}</span>
    <a class="pk-button"
       [hidden]="isLoggedIn"
       routerLink="iniciar-sesion"
       routerLinkActive="active">{{ loginText }}</a>
    <a class="pk-button"
       *ngIf="isLoggedIn"
       (click)="logout()">{{ logoutText }}</a>
  </div>

</div>
