<div class="vbox">
  <h1 class="section-title">Paradas</h1>
  <div class="hbox">
    <select
      name="stops"
      class="pk-combobox stops-combo"
      (change)="updateStop($event.target.value)">
      <option [value]="" disabled selected hidden> -- Seleccionar Parada -- </option>
      <option *ngFor="let item of (stops$ | async)" [value]="item.$key">
        {{ item.nombre }}
      </option>
    </select>
  </div>

  <div *ngIf="stop$ | async"
    class="map-container">
    <sebm-google-map
      [latitude]="convertStringToNumber((stop$ | async)?.lat)"
      [longitude]="convertStringToNumber((stop$ | async)?.lng)"
      [zoom]="16">

      <sebm-google-map-marker
        class="sebm-google-map-marker"
        [latitude]="convertStringToNumber((stop$ | async)?.lat)"
        [longitude]="convertStringToNumber((stop$ | async)?.lng)"
        [iconUrl]="iconUrl">
        <sebm-google-map-info-window [disableAutoPan]="true">
          {{ (stop$ | async)?.nombre }}
        </sebm-google-map-info-window>
      </sebm-google-map-marker>

    </sebm-google-map>
  </div>

</div>
