<div class="vbox">
  <h1 class="section-title">Paradas</h1>
  <div class="hbox">
    <select
      name="stops"
      class="pk-combobox stops-combo"
      (change)="updateStop($event.target.value)">
      <option [value]="" disabled selected hidden> -- Seleccionar Parada -- </option>
      <option *ngFor="let item of (stops$ | async)" [value]="item.$key">
        {{ item.nombre }}
      </option>
    </select>
  </div>

  <div class="map-container">

    <ngui-map [zoom]="zoom" [center]="center">
      <marker *ngFor="let pos of positions"
              [position]="pos"
              [icon]="icon">
      </marker>
    </ngui-map>

  </div>

</div>
