<div class="vbox">
  <h1 class="section-title">Parada mas cercana</h1>
  <div class="form-group create-stop-form">
    <div>
      <span for="name">Parada de Partida: {{ initialStop?.nombre }}</span>
    </div>
    <div>
      <span for="name">Ruta: {{ route?.nombre }}</span>
    </div>
    <select
      name="stops"
      class="pk-combobox stops-combo"
      (change)="selectStop($event.target.value)">
      <option [value]="destStopKey" disabled selected hidden> -- Seleccionar Parada Destino -- </option>
      <option *ngFor="let item of (stops$ | async)" [value]="item.$key">
        {{ item.nombre }}
      </option>
    </select>
  </div>
  <div class="map-container">
    <ngui-map [zoom]="zoom" [center]="center" (mapReady$)="onMapReady($event)">
      <marker *ngFor="let pos of middlePositions"
              [position]="pos.latLng"
              [icon]="smallIcon"
              (click)="clicked($event)"
              [title]="pos.name">
      </marker>
      <!--<marker *ngFor="let pos of busPosition$"-->
              <!--[position]="pos"-->
              <!--[icon]="busIcon">-->
      <!--</marker>-->
      <marker *ngFor="let pos of positions"
              [position]="pos.latLng"
              [icon]="icon"
              (click)="clicked($event)"
              [title]="pos.name">
      </marker>
      <marker
        [position]="curPos"
        (click)="clicked($event)"
        title="Posicion actual">
      </marker>
      <info-window id="iw">
        [[stopName]]
      </info-window>
      <directions-renderer
        [suppressMarkers]="true"
        [draggable]="false"
        panel="#my-panel"
        (directions_changed)="directionsChanged()"
        [directions-request]="{
          destination: initStopLatLng,
          optimizeWaypoints: true,
          origin: originLatLng,
          provideRouteAlternatives: true,
          travelMode: 'WALKING'
        }">
      </directions-renderer>
    </ngui-map>
    <!--<div id="my-panel"></div>-->
    <!--<div id="my-panel-2"></div>-->
  </div>

</div>
