<nav class="sidebar-ctn">

  <a class="page-tab"
     routerLink="inicio"
     routerLinkActive="active">Inicio</a>

  <a class="page-tab"
     routerLink="rutas"
     routerLinkActive="active">Rutas</a>

  <a class="page-tab"
     routerLink="paradas"
     routerLinkActive="active">Paradas</a>

  <a class="page-tab"
     routerLink="parada-mas-cercana"
     routerLinkActive="active">Parada mas cercana</a>

  <a class="page-tab"
     routerLink="proximo-bus"
     routerLinkActive="active">Proximo bus</a>

  <a class="page-tab"
     routerLink="mapa"
     routerLinkActive="active">Mapa</a>

  <a class="page-tab"
     routerLink="contactanos"
     routerLinkActive="active">Contactanos</a>

</nav>

