.sidebar-ctn {
  width: 230px;
  a {
    width: 100%;
    display: block;
    border: 1px solid #000;
    border-top: transparent;
    border-right: transparent;
    height: 40px;
    text-decoration: none;
    padding-left: 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #E5E5E5;
    line-height: 40px;
    &.first-tab {
      border-top: 1px solid #000;
    }
    &:hover {
      background-color: rgba(230, 145, 48, 0.5);
      color: #000;
    }
    &.active {
      background-color: #e4892d;
      color: #fff;
    }
    &.page-tab-auth {
      margin-left: 50px;
      &:hover {
        background-color: rgba(0, 102, 255, 0.19);
        color: #000;
      }
      &.active {
        background-color: rgba(0, 102, 255, 1);
        color: #fff;
      }
      &.last-tab {
        border-bottom: transparent !important;
      }
    }
  }
}
