<nav class="sidebar-ctn">

  <a class="page-tab first-tab"
     routerLink="inicio"
     routerLinkActive="active">Inicio</a>

  <a class="page-tab"
     routerLink="rutas"
     routerLinkActive="active">Rutas</a>

  <a class="page-tab-auth"
     *ngIf="isLoggedIn"
     routerLink="crear-rutas"
     routerLinkActive="active">Crear</a>

  <a class="page-tab-auth"
     *ngIf="isLoggedIn"
     routerLink="modificar-rutas"
     routerLinkActive="active">Modificar</a>

  <a class="page-tab-auth last-tab"
     *ngIf="isLoggedIn"
     routerLink="eliminar-rutas"
     routerLinkActive="active">Eliminar</a>

  <a class="page-tab first-tab"
     routerLink="paradas"
     routerLinkActive="active">Paradas</a>

  <a class="page-tab-auth"
     *ngIf="isLoggedIn"
     routerLink="crear-paradas"
     routerLinkActive="active">Crear</a>

  <a class="page-tab-auth"
     *ngIf="isLoggedIn"
     routerLink="modificar-paradas"
     routerLinkActive="active">Modificar</a>

  <a class="page-tab-auth last-tab"
     *ngIf="isLoggedIn"
     routerLink="eliminar-paradas"
     routerLinkActive="active">Eliminar</a>

  <a class="page-tab first-tab"
     routerLink="parada-mas-cercana"
     routerLinkActive="active">Parada mas cercana</a>

  <a class="page-tab"
     routerLink="proximo-bus"
     routerLinkActive="active">Proximo bus</a>

  <a class="page-tab"
     routerLink="mapa"
     routerLinkActive="active">Mapa</a>

  <a class="page-tab"
     routerLink="contactanos"
     routerLinkActive="active">Contactanos</a>

</nav>

