<nav>
  <a class="xtm-tab"
     routerLink="inicio"
     routerLinkActive="active">Inicio</a>

  <a class="xtm-tab"
     routerLink="rutas"
     routerLinkActive="active">Rutas</a>

  <a class="xtm-tab"
     routerLink="paradas"
     routerLinkActive="active">Paradas</a>

  <a class="xtm-tab"
     routerLink="parada-mas-cercana"
     routerLinkActive="active">Parada mas cercana</a>

  <a class="xtm-tab"
     routerLink="proximo-bus"
     routerLinkActive="active">Proximo bus</a>

  <a class="xtm-tab"
     routerLink="mapa"
     routerLinkActive="active">Mapa</a>

  <a class="xtm-tab"
     routerLink="contactanos"
     routerLinkActive="active">Contactanos</a>
</nav>

<!--<div class="xtm-content-wrapper">-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->

