<div class="vbox">
  <h1 class="section-title">Mapa</h1>
  <div>
    <div class="map-container">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <!--https://angular-maps.com/docs/api/latest/ts/core/index/SebmGoogleMap-directive.html-->
    <!--or use this? https://www.npmjs.com/package/ng2-ui-->
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="12">

      <sebm-google-map-marker
        *ngFor="let item of (stops$ | async)"
        class="sebm-google-map-marker"
        [latitude]="convertStringToNumber(item.lat)"
        [longitude]="convertStringToNumber(item.lng)"
        [iconUrl]="iconUrl">
        <sebm-google-map-info-window [disableAutoPan]="true">
          {{ item.nombre }}
        </sebm-google-map-info-window>
      </sebm-google-map-marker>

    </sebm-google-map>
  </div>

</div>
