.iniciar-sesion {
  border: 1px solid #000;
  border-radius: 50px;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 135px;
  background-color: #e4892d;
  padding: 10px;
  h2 {
    text-transform: uppercase;
  }
  .form-group {
    @extend .hbox;
    margin-bottom: 10px;
    width: 160px;
    span {
      width: 100%;
      min-width: 215px;
      text-align: right;
      padding-right: 10px;
    }
  }
}
