.content-body {
  padding: 10px;
}

.auth {
  .middle-tab {
    border-top: 1px solid #000;
  }
  .contact-us-tab, .contactanos, .contact-us-title {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .inicio-tab {
    .content-body {
      padding: 10px;
      padding-right: 40px;
      app-content {
        display: none;
      }
      app-side-bar {
        width: 100%;
        .sidebar-ctn {
          width: 100%;
          a {
            border-right: 1px solid #000;
            &.first-tab {
              display: none;
            }
            &.second-tab {
              border-top: 1px solid #000;
            }
            &.middle-tab {
              border-top: 0;
            }
            &.page-tab-auth {
              display: none;
            }
          }
        }
      }
    }
  }
  .other-tab {
    app-header {
      display: none;
    }
    .pk-button {
      max-width: 100% !important;
      height: 30px;
      font-size: 18px;
    }
    .pk-input, input.pk-textarea {
      min-width: 150px;
      width: 100%;
      max-width: 100%;
    }
    .content-body {
      padding-top: 0;
      .app-content {
        margin-left: 0;
        height: auto;
        .iniciar-sesion {
          width: auto;
          margin: 0;
          padding-top: 20px;
          border-radius: 15px 15px 0 0;
          .form-group {
            width: 100%;
            span {
              min-width: 60px;
              max-width: 100px;
            }
          }
        }
      }
      .sidebar-ctn {
        display: none;
      }
    }

    .sidebar-ctn {
      width: 100%;
      a.return-tab {
        display: block;
      }
      .return-tab {
        width: 100%;
        margin-right: 10px;
      }
    }

  }

  .auth {
    .contact-us-tab, .contactanos, .contact-us-title {
      display: block;
    }
  }

}
