.page-title {
  background: URL("assets/images/fondo_header.png") 0 -45px;
  height: 155px;
  margin-bottom: 0;
  margin-top: 0;
  .login-ctn {
    position: absolute;
    top: 10px;
    right: 60px;
    .username {
      font-size: 13px;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    &.la-paz-bus-link {
      font-size: 42px;
      font-weight: 700;
      top: 40px;
      position: relative;
      vertical-align: top;
    }
  }
  .logo {
    padding: 5px;
  }
}

@media only screen and (max-width: 950px) {
  .page-title {
    height: 110px;
    .login-ctn {
      display: none;
    }
    a {
      &.la-paz-bus-link {
        font-size: 30px !important;
      }
    }
    .logo {
      padding: 5px;
      width: 100px;
      height: 100px;
    }
  }
}
