<div class="iniciar-sesion">
  <h2>Iniciar Sesion</h2>
  <form (submit)="loginWithEmail($event, name.value, password.value)">
    <div class="form-group">
      <span for="name">Email</span>
      <input #name type="text" class="pk-input form-control" id="name" required>
    </div>
    <div class="form-group">
      <span for="password">Contraseña</span>
      <input #password type="password" class="pk-input form-control" id="password" required>
    </div>
    <button type="submit" class="pk-button">Enviar</button>
  </form>
</div>
